* {
    font-family: 'Lato', sans-serif;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    span {
        float: right;
    }
}

.accordion:hover {
    background-color: rgb(199, 197, 197);
}

 // Following classes display/hide the 'menu'
 // based on the state change detection in the
 // component class
 
 .active {
    display: block;
    height: auto;
    border-radius: 20px;
    border: 0.5px solid rgb(199, 197, 197);
    padding: 18px;
 }

 .inactive {
    display: none;
 }
