* {
    font-family: sans-serif;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid  #444;
    outline: none;
    transition: 0.4s;
    border-radius: 20px;
    transition: opacity 500ms;
    span {
        float: right;
    }
}

.accordion:hover {
    background-color: rgb(155, 146, 146);
}

 // Following classes display/hide the 'menu'
 // based on the state change detection in the
 // component class
 .active {
    display: block;
    background-color: rgb(227, 252, 177);
    width: 96%;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
 }

 .inactive {
    display: none;
 }
